---
interface Props {
  title?: string;
  tone?: 'neutral' | 'info';
}

const { title, tone = 'neutral' } = Astro.props;
---
<aside class={`mdx-block mdx-callout ${tone}`}>
  {title && <h2>{title}</h2>}
  <div>
    <slot />
  </div>
</aside>
