---
interface StepItem {
  title: string;
  body: string;
}

interface Props {
  steps: StepItem[];
}

const { steps } = Astro.props;
---
<ol class="mdx-steps">
  {
    steps.map((step) => (
      <li>
        <h3>{step.title}</h3>
        <p>{step.body}</p>
      </li>
    ))
  }
</ol>
